<!DOCTYPE html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">
<script src="/bower/webmaker-i18n/localized.js"></script>
<script>
Localized.ready(function(){
  var dynamic = document.querySelector("#dynamic");
  dynamic.innerHTML = "This string should also be localized: " + Localized.get("localized-string");
});
</script>
<body>
<p>Your language name in {{localInfo.engName}} is: {{ localeInfo.name }}</p>
<p>Your language code is: {{ localeInfo.lang }}</p>
<p>Your locale code is: {{ localeInfo.locale }}</p>
<p>Your language direction is: {{ localeInfo.direction }}
<p>Your moment.js supported language is: {{ localeInfo.momentLang }}
<p>{{ gettext("someThingCool") }} {{ gettext("supportMultipleFiles") }}</p>
<p>This string should be localized: {{ gettext('localized-string') }}</p>
<p id="dynamic">This should get replaced dynamically onload</p>
<p> We can even return chromeI18n json format: {{ gettext("_Hello_World_") }}</p>
</body>
</html>
